#headTag{
	color:red;
}
#headTag1{
	color:green;
}
.para{
	color:brown;
}
#btnSubmit{
	background:green;
	color:white;
}
#btnSubmit:hover{
	background:brown;
	width:200px;
	
}
#headTag:hover{
	font-size:20px;
}
#link{
	color:blue;
	text-decoration:none;
}
#link:hover{
	text-decoration:underline;
}
#link:visited{
	color:red;
}
input[type="text"]{
	color:green;
}
input[type="password"]{
	color:red;
}